<br><br>
<div class="row">
    <form #f="ngForm" class="col-lg-6 offset-3" >
    <div>
      <label for="name" class="form-label">Name</label>
      <input type="text" name="name" ngModel class="form-control" id="name" placeholder="name" required>
    </div>

    <div>
      <label for="username" class="form-label">Username</label>
      <input type="text" username="username" ngModel class="form-control" id="username" placeholder="username" required>
    </div>
    
    <div>
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" ngModel class="form-control" id="email" placeholder="email" required>
    </div>
    <br>
    <button class="btn btn-success btn-lg" (click)="updateUser(f)" [disabled]="!f.valid">click to update</button>
    </form>
    </div>
    <br><br>