<br><br><div class="row">
    <div class="card clo-lg-3 offset-1" style="width: 18rem;" *ngFor="let c of comments">
    <div class="card-body">
      <h5 class="card-title">postId: {{c.postId}}</h5>
      <h5 class="card-title">Id: {{c.id}}</h5>
      <h5 class="card-title">name: {{c.name}}</h5>
      <h5 class="card-title">email: {{c.email}}</h5>
      <p class="card-text">Body: {{c.body}}</p>

      <button class="btn btn-danger" (click)="deleteComment(c.id)" >Delete</button>
 
      <button class="btn btn-primary" (click)="editComment(c.id)" >Edit</button>
        
    </div>
  </div> <br> <br>
</div>
<br><br>